<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.generate.javacreate.dao.TaskManagerMapper">

    <resultMap id="taskManagerResultMap" type="com.common.generate.javacreate.model.TaskManagerDTO">
        <id column="id" jdbcType="BIGINT" property="id"/> 
        <result column="taskName" jdbcType="VARCHAR" property="taskName"/> 
        <result column="taskNo" jdbcType="VARCHAR" property="taskNo"/> 
        <result column="refProject" jdbcType="VARCHAR" property="refProject"/> 
        <result column="state" jdbcType="TINYINT" property="state"/> 
        <result column="priority" jdbcType="INTEGER" property="priority"/> 
        <result column="remark" jdbcType="VARCHAR" property="remark"/> 
        <result column="operator" jdbcType="VARCHAR" property="operator"/> 
        <result column="deadTime" jdbcType="TIMESTAMP" property="deadTime"/> 
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/> 
        <result column="lastUpdateTime" jdbcType="TIMESTAMP" property="lastUpdateTime"/> 

        
        
    </resultMap>

    <sql id="taskManagerColumns">
        taskmanager.Id AS "id",
        taskmanager.TaskName AS "taskName",
        taskmanager.TaskNo AS "taskNo",
        taskmanager.RefProject AS "refProject",
        taskmanager.State AS "state",
        taskmanager.Priority AS "priority",
        taskmanager.Remark AS "remark",
        taskmanager.Operator AS "operator",
        date_format(taskmanager.DeadTime, '%Y-%m-%d %H:%i:%s') as deadTime,
        date_format(taskmanager.lastUpdateTime, '%Y-%m-%d %H:%i:%s') as lastUpdateTime,
        date_format(taskmanager.CreateTime, '%Y-%m-%d %H:%i:%s') as createTime

    </sql>

    <sql id="taskManagerJoins">
        
    </sql>

    <select id="detail" resultMap="taskManagerResultMap">
        SELECT
        <include refid="taskManagerColumns" />
        FROM taskmanager
        <where>
        taskmanager.Id = #{id,jdbcType=BIGINT}
        </where>
    </select>

    <select id="pageList" resultMap="taskManagerResultMap">
        SELECT
        <include refid="taskManagerColumns" />
        FROM taskmanager
        <where>
            <if test="taskName!= null">
                and TaskName = #{taskName,jdbcType=VARCHAR}
            </if>
            <if test="taskNo!= null">
                and TaskNo = #{taskNo,jdbcType=VARCHAR}
            </if>
            <if test="state!= null">
                and State = #{state,jdbcType=TINYINT}
            </if>
            <if test="stateList != null and stateList.size>0">
                and State in
                <foreach collection="stateList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <insert id="insert">
        INSERT INTO taskmanager(
            Id,
            TaskName,
            TaskNo,
            RefProject,
            State,
            Priority,
            Remark,
            Operator,
            DeadTime,
            CreateTime,
            LastUpdateTime
        )
        VALUES (
            #{id,jdbcType=BIGINT},
            #{taskName,jdbcType=VARCHAR},
            #{taskNo,jdbcType=VARCHAR},
            #{refProject,jdbcType=VARCHAR},
            #{state,jdbcType=TINYINT},
            #{priority,jdbcType=INTEGER},
            #{remark,jdbcType=VARCHAR},
            #{operator,jdbcType=VARCHAR},
            #{deadTime,jdbcType=TIMESTAMP},
            now(),
            now()
        )
    </insert>

    <insert id="insertBatch">
        INSERT INTO taskmanager(
            Id,
            TaskName,
            TaskNo,
            RefProject,
            State,
            Priority,
            Remark,
            Operator,
            DeadTime,
            CreateTime,
            LastUpdateTime
        )
        VALUES
        <foreach collection ="list" item="taskManager" separator =",">
        (
            #{taskManager.id,jdbcType=BIGINT},
            #{taskManager.taskName,jdbcType=VARCHAR},
            #{taskManager.taskNo,jdbcType=VARCHAR},
            #{taskManager.refProject,jdbcType=VARCHAR},
            #{taskManager.state,jdbcType=TINYINT},
            #{taskManager.priority,jdbcType=INTEGER},
            #{taskManager.remark,jdbcType=VARCHAR},
            #{taskManager.operator,jdbcType=VARCHAR},
            #{taskManager.deadTime,jdbcType=TIMESTAMP},
            now(),
            now()
        )
        </foreach>
    </insert>

    <update id="update">
        UPDATE taskmanager
        <set>
            <if test="taskName!= null">
                TaskName = #{taskName,jdbcType=VARCHAR},
            </if>  
            <if test="taskNo!= null">
                TaskNo = #{taskNo,jdbcType=VARCHAR},
            </if>  
            <if test="refProject!= null">
                RefProject = #{refProject,jdbcType=VARCHAR},
            </if>  
            <if test="state!= null">
                State = #{state,jdbcType=TINYINT},
            </if>  
            <if test="priority!= null">
                Priority = #{priority,jdbcType=INTEGER},
            </if>  
            <if test="remark!= null">
                Remark = #{remark,jdbcType=VARCHAR},
            </if>  
            <if test="operator!= null">
                Operator = #{operator,jdbcType=VARCHAR},
            </if>  
            <if test="deadTime!= null">
                DeadTime = #{deadTime,jdbcType=TIMESTAMP},
            </if>
            LastUpdateTime = now()
        </set>
        WHERE Id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="delete">
        DELETE FROM taskmanager
        WHERE Id = #{id,jdbcType=BIGINT}
    </delete>

</mapper>